*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea
CameraModuleSampleApp/.externalNativeBuild/
CameraModule.iml
/CameraModuleSampleApp/CameraModuleSampleApp.iml
